<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="crossorigin="anonymous" />
  <link rel="stylesheet" href="dist/app.css">
  <title>Bryson</title>
</head>
<body>
  <div id="app">
    <header>
      <!-- Aggiungo il logo dentro un div -->
      <div class="cnt-header">
        <div class="logo">
          <img src="img/logo-img-01.png" alt="logo">
        </div>
        <!-- A destra dell'header aggiungo una nav-bar con dentro una ul e dentro i li verranno stampati dinamicamente -->
        <nav class="main-nav">
          <ul class="nav__list">
            <li v-for="(element, index) in navItems" v-if="element != 'svg/svg-1.svg' " class="list-item"><a href="#">{{element}}</a></li>
            <li v-else class="list-item">
            <a href="">
              <img :src="element" alt="">
            </a>
            </li>
          </ul>
        </nav>
      
      </div>
      <!-- Ogni list-item è stampato con un v-for di un array dei data che sarà composto da stringhe e un svg -->
    </header>
    <main>
      <!-- Il main è diviso in diverse sezioni -->
      <section class="banner">
        <!-- ogni sezione ha un container grande e un container piccolo -->
        <!-- la prima sezione è quella con un titolone,un sottotitolo e le prime immagini -->
        <div class="cnt-big bg-img__titles">
          <div class="cnt-title">
            <h1>We are Bryson, New York-based art & deign studio</h1>
            <p class="main--text">Here at Bryson it only takes a smifgen of imagination and we've prepared ourselves for future challenges. Take a peek and see if you recognize a tademark ingredients of our work.</p>
          </div>
        <!-- prima riga di immagini -->
          <div class="cnt-small images__container">
            <div class="image">
              <img src="img/port-img-07.jpg" alt="">
            <div class="overlay">
              <div class="diagonal">
                <span class="overlay__title">Free design</span>
                <span class="overlay__text">Book illustration</span>
              </div>
            </div>
            </div>
            <div class="image">
              <img src="img/port-img-08.jpg" alt="">
              <div class="overlay">
                <div class="diagonal">
                  <span class="overlay__title">Free design</span>
                  <span class="overlay__text">Book illustration</span>
                </div>
              </div>
          </div>
        </div>
      </section>
      <!-- seconda riga di immagini -->
      <section class="pictures-kids" >
        <div class="bg-big ">
          <div class="cnt-small">
            <div class="image">
              <img src="img/port-img-09.jpg" alt="">
              <div class="overlay">
                <div class="diagonal">
                  <span class="overlay__title">Free design</span>
                  <span class="overlay__text">Book illustration</span>
                </div>
              </div>
            </div>
            <div class="image">
              <img src="img/port-img-10.jpg" alt="">
              <div class="overlay">
                <div class="diagonal">
                  <span class="overlay__title">Free design</span>
                  <span class="overlay__text">Book illustration</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      <a href="#" class="arrow-up">
      </a>
      </section>
      <!-- terza riga di immagini -->
      <section class="friendship-tablet">
        <div class="bg-big ">
          <div class="cnt-small">
            <div class="image">
              <img src="img/port-img-11.jpg" alt="">
              <div class="overlay">
                <div class="diagonal">
                  <span class="overlay__title">Free design</span>
                  <span class="overlay__text">Book illustration</span>
                </div>
              </div>
            </div>
            <div class="image">
              <img src="img/port-img-12.jpg" alt="">
              <div class="overlay">
                <div class="diagonal">
                  <span class="overlay__title">Free design</span>
                  <span class="overlay__text">Book illustration</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a href="#" class="arrow-up"></a>
      </section>
    </main>
    <footer>
      <!-- il footer ha la stessa struttura del body ma c'è solo il contenitore piccolo -->
      <!-- il contenitore piccolo ha il testo centrato -->

    </footer>
  </div>
 <script src="js/script.js"></script> 
</body>
</html>
            
            
             