* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding-top: 80px;
}

h1 {
  font-family: $fontFamilyMain;
}

h2 {
  font-family: $fontFamilyMain;
  color: $titleColorSecondary;
  font-size: $secondaryTitle;
}

h3 {
  color: $titleColorSecondary;
  font-size: $fontTitleSecondary;
  font-family: $fontFamilyMain;
}
p {
  font-family: $fontFamilySecondary;
  font-size: $parFont;
  color: $textColor;
}

ul li {
  list-style: none;
  & a {
    text-decoration: none;
    font-family: $fontFamilyMain;
    font-weight: 700px;
  }
}

//container piccolo che si ripete in varie sezioni
.cnt-small {
  max-width: $cntSmall;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  & .main--text {
    color:$textColor;
    font-size: $parFont;
    font-weight: 300;
  }
}

.image {
  position: relative;
  width: 50%;
    & img {
      max-width: 100%;
      max-height: 100%;
    }
  }

// Effetto piega delle immagini
.overlay {
  width: 0;
  position: absolute;
  border: solid;
  border-color: transparent; 
  top: 0;
  left: 0;
  transition: 0.8s border-width ease-out;
}
  .image:hover .overlay {
    border-width: 100px;
    border-radius: 0;
    border-color: #ffff $overlayColor $overlayColor #ffff; 
    background: #ffff;
   }

.diagonal {
  width: 120px;
  transform: rotate(-47deg);
  position: absolute;
  bottom: -37px;
  right: -87px;
  display: none;
} 

.image:hover  .overlay > .diagonal {
  display: block;
}

.overlay__title {
  font-size: $overlayTitle;
  display: block;
  font-weight: 500;
  font-family: $fontFamilyMain;
  
}

.overlay__text {
  color: $textColor;
  font-size:$overlayText;
}
 
//stile dei bottoni

.btn-info {
 @include button-features;
 transition: background .5s ease-in-out;
  
  &:hover {
    background-color:$btnBorder;
    color:$btnHoverColor;
  }
  &:focus {
    outline: none;
  }
}

.btn-info::after {
  font-family: "Font Awesome 5 Free"; 
  font-weight: 700; 
  font-size: 0.8em;
  content: "\f0da";
  margin-left: 5px;
}
