* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Roboto', sans-serif;
}

main {
  padding-top: 80px;

}

ul li {
  list-style: none;
  & a {
    text-decoration: none;
    
  }

}

.cnt-small {
  max-width: $cntSmall;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  & .main--text {
    color:$textColor;
    font-size: $parFont;
    font-weight: 300;
  }
}

.images__container {
  margin-top: 12em;

}
 
 .image {
    width: 50%;
    & img {
      max-width: 100%;
    }
  }


.overlay {
  height: 200px;
  width: 200px;
  background: #ffff;
  opacity:0;
  position: absolute;
  top: 0;
  left: 0;

    &:hover {
      opacity: 1;
    }
}

