* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Roboto', sans-serif;
}

main {
  padding-top: 80px;

}

ul li {
  list-style: none;
  & a {
    text-decoration: none;
    
  }

}

.cnt-small {
  max-width: $cntSmall;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  & .main--text {
    color:$textColor;
    font-size: $parFont;
    font-weight: 300;
  }
}

 .image {
    position: relative;
    width: 50%;
    & img {
      max-width: 100%;
    }
  }


.overlay {
  height: 200px;
  width: 200px;
  background: #ffff;
  opacity: 1;
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
    &:hover {
      opacity: 1;
    }
}
  // freccia in su per le sezioni
.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 50px solid #F6C0AB;
  color: orangered;
  position: absolute;
  right: 20px;
  top: 50%;
   &::before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 700; 
    font-size: 0.8em;
    content: "\f077";
    color: #ffff;
    position: absolute;
    top: 25px;
    right: -6px;
   }
}

.arrow-placeholder {
 width: 0;
    height: 0;
    border-left: 140px solid transparent;
    border-right: 144px solid transparent;
    border-bottom: 140px solid #F6C0AB;
    transform: rotate(135deg);
    color: orangered;
    position: absolute;
    bottom: -22px;
    right: -91px;
}