footer {
  background-image: url('../../img/h2-footer-img-01.jpg');
  background-size: contain;
  background-repeat: repeat-x;
  height: 351px;
  position: relative;
    & .footer__logo {
      margin: 20px auto;
    }
}


.footer-box {
  width: 40%;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.social-item {
  padding: 0 1% ;
    & a {
      color: white;
      font-size: $parFont;
      width: 42px;
      height: 42px;
      border-radius: 50%;
      position: relative;
      padding: 6px 13px;
      display: block;
       & i {
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
       }
    }
}

.instagram {
  background: $instagramColor;
  transition: background 0.5s ease;
    &:hover {
      background:#E1B263;
    }
}

.facebook {
  padding: 6px 13px;
  background: #F7D293;
  transition: background 0.5s ease;
    &:hover {
      background: #E1B263;
    }
}

.twitter {
 background:#F7BCA8;
 transition: background 0.5s ease;
  &:hover {
      background: #E1B263;
    }
}

.pinterest {
  background:#D8D597;
  transition: background 0.5s ease;
    &:hover {
        background: #E1B263;
      }
}