footer {
  background: #E4EEED;
  height: 261px;
  position: relative;
  background-image: url('../../img/h2-footer-img-01.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
    & .footer__logo {
      margin: 20px auto;
    }
}

.footer-box {
  width: 40%;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


// stile delle icone social
.social__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.social-item {
  padding: 0 1% ;
    & a {
      color: white;
      font-size: $parFont;
      width: 42px;
      height: 42px;
      border-radius: 50%;
      position: relative;
      padding: 6px 13px;
      display: block;
       & i {
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
       }
    }
}

.instagram {
  background: $instagramColor;
  transition: background 0.5s ease;
    &:hover {
      background:#E1B263;
    }
}

.facebook {
  padding: 6px 13px;
  background: #F7D293;
  transition: background 0.5s ease;
    &:hover {
      background: #E1B263;
    }
}

.twitter {
 background:#F7BCA8;
 transition: background 0.5s ease;
  &:hover {
      background: #E1B263;
    }
}

.pinterest {
  background:#D8D597;
  transition: background 0.5s ease;
    &:hover {
        background: #E1B263;
      }
}


// ancorina a freccia del footer
.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 50px solid #F6C0AB;
  color: orangered;
  position: absolute;
  z-index: 1000;
  bottom: 30px;
  right: 30px;
    &::before {
      font-family: "Font Awesome 5 Free"; 
      font-weight: 700; 
      font-size: 0.8em;
      content: "\f077";
      color: #ffff;
      position: absolute;
      bottom: -38px;
      right: -6px;
    }
}