
//Colors
$titleColor : #000000;
$titleSecondary:#1A706A;
$textColor: #6D6E71;
$btnBorder: #80ABAE;
$btnHoverColor:#ffff;
$boxBorder: #F1BBAA;
$marginViewport: 40px;
$cntSmall: 1100px;
$centralCard:#E6F3F0;
$instagramColor:#69A9AA;
$instagramColorHover: #629C7C;
$listBorder: #E19074;
$iconSticky: #EF2853;

//fonts 
$fontFamilyMain: 'Poppins', sans-serif;
$fontFamilySecondary: 'Karma', serif;
$mainTitle: 50px;
$parFont: 18px;
$secondaryTitle: 50px;
$sectionHeight: 500px;
$fontTitleSecondary: 20px;

//overlay

$overlayText: 12px;
$overlayTitle: 20px;

//button 
@mixin button-features {
  background: transparent;
  width: 200px;
  padding: 15px 0;
  border: none;
  border: 2px solid#80ABAE;
  border-radius: 50px;
  font-family: $fontFamilyMain;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
//stile degli input text
 @mixin input-text-features {
    border: none;
    border-bottom: 2px solid black;
    padding: 15px 2px;
    font-family: $fontFamilySecondary;
    font-size: $parFont;
    outline: none;
    color:$textColor
}