
//Colors
$titleColor : #000000;
$tileSeconday: #2D2A2B;
$textColor: #6D6E71;


$marginViewport: 40px;
$cntSmall: 1033px;

//fonts 

$mainTitle: 45px;
$parFont: 18px;

$sectionHeight: 500px;

//overlay
