@import "Partials/variables";
@import "Partials/common";
@import "Partials/header";
@import "Partials/footer";


.banner {
  margin-top: 50px;
  height: 490px;
}


.cnt-big {
  background-image: url('../img/h2-background-img-02.png');
  height: 100%;
  background-size: 90%;
  background-position: 1% 0;

}
.cnt-small h1 {
  margin-right: 30px;
  height: 100%;
  margin-top: 100px;
}