@import "Partials/variables";
@import "Partials/common";
@import "Partials/header";
@import "Partials/footer";


#banner {
  margin-top: 50px;
  height: 850px;
}


.bg-img__titles {
  background-image: url(../img/h2-background-img-02.png);
  background-size: 90%;
  background-position: 1% 80%;
  background-repeat: no-repeat;
  height: 476px;
}

.cnt-title {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;

   & h1 {
    width: 40%;
    font-size: $mainTitle;
    
   }

   & .main--text {
      width: 60%;
      font-size: $parFont ;
      padding-left: 80px;
      padding-right: 30px;
      color: $textColor;
      font-size: $parFont;
   }
}


.images__container {
  width: 100%;
  height: 100%;
  margin-top: 12em;

}

#images__bg {
  background-image: url('../img/h2-background-img-02\ \(1\).png');
  background-size: cover;
  background-position: 0 94% ;
  background-repeat: repeat-x;
}

.pictures-kids, .friendship-tablet {
  height: $sectionHeight;
  position: relative;
}


#we-do {
  height: 630px;
  padding-top: 100px;
}
.box-text {
  width: 35%;
  & p {
    padding: 40px 0;
  }
}

.cnt-sevices {
  width: 55%;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 10%;
  padding-top: 50px;
}

.box__service {
  display: flex;
  width: 45%;
  height: 35%;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  border: none;
  border: 2px solid transparent;
  border-radius: 20px;
  transition: border 0.3s ease;
    &:hover {
      border: 2px solid #EFB6A4;
    }
    & img {
      margin-right: 17px;
      margin-left: 10px;
    }
      
}
.box__service:nth-child(2n - 1) {
  margin-right: 20px;
}

#video {
  margin-bottom: 100px;
  padding: 0 60px;
}
#video .cnt-big {
  max-width: 100%;
  height: 800px;
  background-image: url('../img/h2-img-2.jpg');
  background-attachment: fixed ;
  background-repeat: no-repeat;
  position: relative;
    & img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
}
#cards {
  height: 900px;
  background-image: url('../img/h2-background-img-03.png');
  background-position: 100% 65%;
  padding: 100px 0;
}
.card {
  text-align: center;
  width: 30%;
  height: 600px;
  border: 2px solid $boxBorder;
  border-radius: 30px;
  padding: 86px 0;
  transition: all 0.5s ease-in-out;
    & ul {
      margin: 30px 0;
      & li {
        padding: 1% 0;
      }
    }
}
.card:hover {
  transform:scale(1.1);
}
.card:nth-child(2n) {
  background:$centralCard;
  border: none;

}

.prize--item {
  font-size: 50px;
  font-weight: 700;
  font-family: $fontFamilyMain;
}


#get-in-touch {
  margin: 150px 0;
}
.comment__input {
  width: 100%;
  margin-bottom: 50px;
}

.data__input {
  width: 40%;
  margin-right: 40px;
}

.touch__input {
  @include input-text-features;
}

.get-in-touch__text {
  width: 40%;
  margin-left: 10px;
    & p {
      margin-top: 30px;
    }
}

.get-in-touch__form {
  width: 50%;
}
#submit {
 padding-top: 40px;
}


//iconcine sticky 

.icons-sticky {
  height: 100px;
  width: 50px;
  margin-left: 100px;
  position: sticky;
  left: 96%;
  bottom: 200px;
}

#circle {
  margin-bottom: 10px;
  background-color:#EF2853
}

#shop {
  background-color: white;
  box-shadow: 1px 1px 1px 1px  rgba($color: #000000, $alpha: 0.1);
}

.btn-icon {
  border: none;
  width: 100%;
  height: 50px;
  outline: none;
  cursor: pointer;
    & img {
      height: 40px;
      padding: 5px;
    }
}

