@import "Partials/variables";
@import "Partials/common";
@import "Partials/header";
@import "Partials/footer";


.banner {
  margin-top: 50px;
  height: 850px;
}


.bg-img__titles {
  background-image: url(../img/h2-background-img-02.png);
  background-size: 90%;
  background-position: 1% 80%;
  height: 476px;
}

.cnt-title {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;

   & h1 {
    width: 40%;
    font-size: $mainTitle;
    
   }

   & .main--text {
      width: 60%;
      font-size: $parFont ;
      padding-left: 80px;
      color: $textColor;
      font-size: $parFont;
   }
}


.images__container {
  width: 100%;
  height: 100%;
  margin-top: 12em;

}

.images__bg {
  background-image: url('../img/h2-background-img-02\ \(1\).png');
  background-size: contain;
  background-position: -305% 0;
  background-repeat: repeat-x;
}

.pictures-kids, .friendship-tablet {
  height: $sectionHeight;
  position: relative;
}

.box-text {
  margin: 200px 0;
  width: 40%;
  & p {
    padding: 40px 0;
  }
}

.cnt-sevices {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 10%;
}

.box__service {
  display: flex;
  width: 50%;
  padding: 29px 0;
  align-items: center;
  padding-right: 1px;
    & img {
      margin-right: 10px;
    } 
      
}
#video {
  margin-bottom: 200px;
  padding: 0 60px;
}
#video .cnt-big {
  max-width: 100%;
  height: 600px;
  background-image: url('../img/h2-img-2.jpg');
  background-attachment: fixed ;
  background-repeat: no-repeat;
  position: relative;
    & img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
}